<h1>Login</h1>

<% if @message %>
  <li><%= @message %></li>
<% end %>

<form action="/login" method="post">
  <input type="text" name="user_name" placeholder="Your username">
  <input type="password" name="password" placeholder="Your password">
  <input type="submit" value="Login!">
</form>
