<h1>Register</h1>

<form action="/register" method="post">
  <input type="text" name="user_name" placeholder="Your username">
  <input type="text" name="user_email" placeholder="Your email address">
  <input type="password" name="password" placeholder="Your password">
  <input type="submit" value="Register!">
</form>
